/* Basic resets to equalize inconsistencies across browsers */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, b, i, fieldset,
	form, label, legend, caption, article, header, footer, menu, nav,
	section, ol, ul, li {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica', sans-serif;
	font-size: 0.97em;
}

/* -------------------------------------------------------------------- */
/* Global element styling & global classes */
p {
	margin-bottom: 10px;
	opacity: 1.0;
}

h1 {
	margin-bottom: 10px;
	font-size: 2em;
	    text-shadow: 0px 0px 21px rgba(255,255,255,7.5)
}

h2 {
	font-size: 1.5em;
	margin-bottom: 10px;
	    text-shadow: 0px 0px 21px rgba(255,255,255,7.5)
}

hr {
	color: #030303;
	background-color: #030303;
	height: 4px;
	margin-bottom: 40px;
	    text-shadow: 0px 0px 21px rgba(255,255,255,7.5);
}

.link {
	color: #525252;
	text-decoration: none;
}

.link:hover {
	color: #808080;
}

.slim {
	height: 2px;
	margin-bottom: 10px
}

a {
	text-decoration: none;
	color: graytext;
}

/* Breadcrumbs only*/
pre, pre span {
	font-decoration: none;
	font-size: 1em;
	font-family: 'Helvetica', sans-serif;
	color: graytext;
	margin-top: -5px;
	margin-bottom: 40px;
}

pre a {
	font-size: 1em;
	font-family: 'Helvetica', sans-serif;
	color: graytext;
	margin-top: -5px;
	margin-bottom: 40px;
	font-weight: 900;
}

/*Header is fixed to 60px from top, so with padding of 60px,
we fix the body in the exactly right position*/
body {
	
	background: url(/img/background.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	padding-top: 60px;
	padding-bottom: 40px;
	padding-left: 150px;
	padding-right: 150px;
	min-width: 1100px;
}

/* the main content on every page */
#content {
	padding: 30px;
}

/* These two guarantee that we can write stuff on the same line,
but not in one String (i.e. in the header) */
.left {
	display: inline-block;
	float: left;
	padding-left: 30px;
	opacity: 1.0;
}

.right {
	display: inline-block;
	float: right;
	padding-right: 8px;
	opacity: 1.0;
}

.styledTable {
	background-color: #808080;
	border-radius: 5px;
	margin-top: 20px;
}

.styledTable th {
	background-color: #030303;
	color: white;
}

.styledTable td {
	background-color: white;
	padding: 5px 10px;
}

input, select, textarea {
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 4px 5px;
    border-radius: 4px;
}

input[type="number"] {
	width: 70px;
}

label {
	margin-right: 10px;
}

button {
	background-color: #030303;
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
	border-color: white;
	border-style: solid;
	font-size: 1.1em;
}

.inactiveButton {
	background-color: #bbbbbb;
	color: white;
	border-color: white;
}

.button {
	background-color: #030303;
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
	border-color: white;
	border-style: solid;
	font-size: 1.1em;
}

.smallPlusButton {
	display: inline;
	font-decoration: none;
	background-color: #030303;
	color: white;
	width: 15px;
	height: 15px;
	padding: 0px 5px;
	text-align: center;
	border-radius: 5px;
	border-color: white;
	border-style: solid;
	font-size: 1.5em;
}

#bookmarkButton {
	background-color: white;
	padding: 0px 5px 0px 5px;
	border-width: 2px;
	border-radius: 10px;
	border-color: #030303;
	border-style: solid; 
	color: grey;
	font-size: 0.9em;
}

#bookmarkedButton {
	background-color: white;
	padding: 0px 5px 0px 5px;
	border-width: 2px;
	border-radius: 10px;
	border-color: #ff0000;
	border-style: solid; 
	color: grey;
	font-size: 0.9em;
}

button:hover {
	color: #030303;
	background-color: white;
	border-color: #030303;
	cursor: pointer;
}

.button:hover {
	color: #030303;
	background-color: white;
	border-color: #030303;
}

.smallPlusButton:hover {
	color: #030303;
	background-color: white;
	border-color: #030303;
	cursor: pointer;
}

#bookmarkButton:hover {
	border-color: red;
	border-style: dashed;
}

#bookmarkedButton:hover {
	border-color: green;
	border-style: dashed;
}

fieldset {
	padding: 20px;
	margin-bottom: 10px;
	background-color: rgba(255,255,255,0.5);
}

legend {
	font-size: 1.1em;
	text-shadow: 0px 0px 7px white;
	font-weight: bold;
	padding: 0 10px;
}

button {
	margin-right: 20px;
}

.validationErrorText {
	color: red;
	background-color: #fee2ef;
	border-radius: 5px;
	padding: 5px 10px;
	border-radius: 5px;
	margin-right: 10px;
	vertical-align: top;
}

.clearBoth {
	clear: both;
}

.confirmation-message {
	border-style: solid;
	width: 20%;
	margin: auto;
	padding: 10px 20px;
	border-color: #030303;
        background-color: rgba(255,255,255,0.7);
        border-radius: 4px;
}

.negative-message {
	border-style: solid;
	width: 20%;
	margin: auto;
	padding: 10px 20px;
	border-color: #030303;
        background-color: rgba(255,255,255,0.7);
        border-radius: 4px;
}

.confirmation-message img {
	width: 30px;
	margin-bottom: 20px;
}

.negative-message img {
	width: 30px;
	margin-bottom: 20px;
}

/* -------------------------------------------------------------------- */
/* Header & Footer */

header {
	color: black;
	background: #ffffff;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 70px;
	z-index: 1;
	min-width: 1100px;
}

header a {
	text-decoration: none;
	color: black;
	opacity: 1.0;
}

header h1 {
	margin-top: 10px;
	margin-left: 10px;
	font-size: 2.8em;
	opacity: 1.0;
}

header h1 a {
	color: black;
	opacity: 1.0;
}

header ul {
	padding: 0;
	list-style: none;
	opacity: 1.0;
}

header ul li {
	float: right;
	width: 120px;
	text-align: center;
	line-height: 21px;
	margin-top: 20px;
	text-align: center;
	opacity: 1.0;
}

#profile_picture {
	width: 170px;
	margin-top: 0px;
	opacity: 1.0;
}

#profile_picture_editPage {
	float: left;
	width: 340px;
	margin-top: 0px;
	opacity: 1.0;
}

#profile_picture_publicProfile {
	float: left;
	width: 340px;
	margin-top: 0px;
	opacity: 1.0;
}

#profile_picture img {
	width: 60px;
	height: 60px;
	float: left;
	opacity: 1.0;
}

#profile_picture a {
	height: 60px;
	opacity: 1.0;
}

#profile_picture .text {
	float: center;
	height: 100%;
	margin-top: 10px;
	margin-right: 10px;
	opacity: 1.0;
}

#profile_picture ul li {
	margin-top: 0px;
	float: none;
	width: 100%;
	opacity: 1.0;
}

#profile_picture ul li a {
	height: 25px;
	text-align: left;
	opacity: 1.0;
}

header ul li a {
	display: block;
	padding: 5px 10px;
	color: #000000;
	text-decoration: none;
	opacity: 1.0;
}

header ul li a:hover {
	color: #000000;
	background: #999999;
	opacity: 1.0;
}

/* it does hide the drop down menu */
header ul li ul {
	display: none;
	opacity: 1.0;
}

/*only when you hover over the unordered list item -> dropdown visible */
header ul li:hover ul {
	display: block;
	opacity: 1.0;
        background-color: rgba(255,255,255,0.7);
}

header nav {
	display: block;
	float: right;
	padding: 0px 15px;
	font-size: 1.3em;
	opacity: 1.0;
}

/* Horizontal Menu */
header nav ul li {
    font-size: 0.9em;
}
.admin_menu {
    /*font-size: 0.8em;*/
    width: auto;
    padding: 0 5px;
	opacity: 1.0;
}
.admin_menu.right {
    border-right: 1px solid black;
    padding-right: 15px;
	opacity: 1.0;
}

footer {
	color: black;
	background: #ffffff;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 25px;
	text-align: center;
}

footer nav {
	margin-top: 8px;
	opacity: 1.0;
}

footer .link {
	color: #000000;
	opacity: 1.0;
}

footer .link:hover {
	color: #999999;
	opacity: 1.0;
}

footer nav ul li {
	display: inline-block;
	float: center;
	padding: 0px 15px;
	opacity: 1.0;
}

/* -------------------------------------------------------------------- */
/* ----------------------------Individual pages------------------------ */
/* -------------------------------------------------------------------- */

/* -------------------------------------------------------------------- */
/* login.jsp */
.test-users {
	margin-left: 30px;
	line-height: 1.5;
}

/* about.jsp*/
#about {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -365px;
  margin-left: -486px;
}

/* -------------------------------------------------------------------- */
/* placeAd.jsp */
#placeAdForm {
	width: 900px;
	margin: auto;
}

#uploaded-pictures {
	width: 700px;
}

#uploaded-pictures td {
	text-align: center;
}

#uploaded-pictures td:first-child {
	text-align: left;
}

#uploaded-pictures td:last-child {
	cursor: pointer;
}

#name-column {
	width: 75%;
	text-align: left;
}

.placeAdTable {
	width: 80%;
}

#placeAdForm fieldset:first-child label { /* That's a bit ridiculous, but the original HTML is really... weird... */
    display: block;
    margin-bottom: 4px;
}
#placeAdForm .ot-direct, #placeAdForm .ot-auction {
    display: none;
}
/* -------------------------------------------------------------------- */
/* signup.jsp */
#signupForm {
	width: 350px;
}

.signupDescription{
	vertical-align: top;
}
/* -------------------------------------------------------------------- */
/* search.jsp */
#searchForm {
	width: 900px;
}

/* -------------------------------------------------------------------- */
/* editProfile.jsp */
.editProfileTable input {
	width: 30%;
	font-size: 0.8em;
}

.editProfileTable textarea {
	font-size: 0.9em;
}

.editProfileTable {
	width: 80%;
	margin-top: 2px;
	font-size: 1.4em;
}

.spacingTable {
	padding: 10px;
}

/* -------------------------------------------------------------------- */
/* searchAd.jsp */
#searchDiv {
	border-style: none;
	background-color: rgba(255,255,255,0.7);
	padding: 15px;
}


/* -------------------------------------------------------------------- */
/* results.jsp */
#resultTable {
	border-radius: 5px;
	background-color: #030303;
}

#resultTable tr {
	background-color: white;
}

#resultTable th {
	background-color: #030303;
	color: white;
	padding: 5px;
}

#resultTable td {
	padding: 5px;
}

#resultTable a {
	text-decoration: none;
}

#userPicDiv {
	float: left;
	margin-top: 10px;
}

#userTextDiv {
	float: left;
	padding-left: 30px;
	margin-top: 10px;
}

#filterDiv {
	width: 35%;
	margin-top: 30px;
	float: right;
	padding: 10px;
	margin-top: 10px;
	border-style: solid;
	border-color: #030303;
	border-width: 3px;
	border-radius: 10px;
	background-color: rgba(255,255,255,0.5);
}

#resultsDiv {
	width: 60%;
	margin-top: 10px;
	float: left;
}

#resultsDiv > div {
	height: 100px;
	padding: 10px;
	margin-top: 20px;
	border-style: solid;
	border-color: #030303;
	border-width: 3px;
	border-radius: 10px;
	background-color: rgba(255,255,255,0.7);
}
#resultsDiv .resultAd.old {
    border-color: grey;
}
#resultsDiv .resultAd.premium {
    border-color: #0A4B83;
}

#resultsDiv div:first-child {
	margin-top: 0px;
}

#resultsDiv div img {
	height: 100px;
	float: left;
	margin-right: 50px;
}

#resultsDiv div div {
	border: none;
	margin: 0;
	padding: 0;
}

#resultsDiv .resultLeft {
	float: left;
	width: 75%;
}

#resultsDiv .resultRight {
	float: right;
	text-align: right;
	padding-right: 0;
}

/* -------------------------------------------------------------------- */
/* adDescription.jsp */

#adDescTable {
	width: 40%;
	float: left;
}

#adDescTable h2 {
	margin: 4px;
}

#adDescTable td {
	margin: 10px;
}

#checkBoxTable {
	width: 27%;
}

#checkBoxTable h2 {
	margin: 4px;
}

#checkBoxTable img {
	width: 26px;
}

#descriptionTexts {
	width: 55%;
	float: left
}

#descriptionTexts div {
	width: 80%;
}

#advertiserTable {
	width: 55%;;
}

#advertiserTable img {
	width: 50px;
	height: 50px;
}

#mate img {
	width: 50px;
	height: 50px;
}

#mate {
	table-layout: fixed;
	width: 100%;
}

#advertiserTable h2 {
	margin: 0;
}

#image-slider {
	height: 350px;
	float: right;
	width: 600px;
	margin-bottom: 30px;
}

#images {
	float: left;
	width: 500px;
	height: 350px;
	position: relative;
}

#images img {
	height: 350px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	display: none;
	max-width: 450px;
}

#images img:first-child {
	margin-top: 0px;
	display: block;
}

#left-arrow {
	height: 100%;
	width: 40px;
	margin-right: 10px;
	float: left;
}

#right-arrow {
	height: 100%;
	width: 40px;
	margin-left: 10px;
	float: left;
}

#left-arrow img {
	width: 40px;
	margin-top: 155px;
}

#right-arrow img {
	width: 40px;
	margin-top: 155px;
}

#left-arrow img:hover {
	cursor: pointer;
	opacity: .7;
    background-color: white;
}

#right-arrow img:hover {
	cursor: pointer;
	opacity: .7;
    background-color: white;
}

.adDescDiv {
	border-color: #030303;
	border-radius: 5px;
	border-width: 3px;
	border-style: solid;
	padding: 15px;
	background-color: rgba(255,255,255,0.7);
}

.thinButton {
	background-color: #030303;
	color: white;
	padding: 2px 10px;
	border-radius: 5px;
	border-color: white;
	border-style: solid;
	font-size: 1.1em;
	margin-left: 30px;
}

.thinInactiveButton {
	background-color: #bbbbbb;
	color: white;
	padding: 2px 10px;
	border-radius: 5px;
	border-color: white;
	border-style: solid;
	font-size: 1.1em;
	margin-left: 30px;
}

.thinInactiveButton:hover {
	background-color: #white;
	color: #bbbbbb;
	border-color: #bbbbbb;
	cursor: pointer;
}

/* -------------------------------------------------------------------- */
/* messages.jsp */

#messageList {
	float: right;
	width: 70%;
	margin-right: 40px;
}

#messageList hr {
	margin-top: 30px;
}

#messageList table {
	width: 90%;
	margin: auto;
}

#messageList table tr:hover {
	cursor: pointer;
}

#messageList table tr.UNREAD td {
	background-color: #AFFFEE;
}

#subjectColumn {
	width: 40%;
}

#folders {
	float: left;
	width: 10%;
	height: 70%;
	margin-left: 30px;
	border-color: #030303;
	border-radius: 5px;
	border-width: 3px;
	border-style: solid;
	padding: 15px;
	background-color: rgba(255,255,255,0.7);
}

#folders h2 {
	padding: 5px;
	color: graytext;
}

#folders h2:hover {
	background-color: #030303;
	color: white;
	cursor: pointer;
}

#messageDetail {
	border-color: #030303;
	border-radius: 5px;
	border-width: 3px;
	border-style: solid;
	padding: 30px;
	width: 80%;
	margin: auto;
	background-color: rgba(255,255,255,0.7);
}

#messageDetail p {
	white-space: pre-line;
}

#folders a:hover {
	background-color: #030303;
	color: white;
	cursor: pointer;
}

.msgForm {
	border-radius: 2px;
	padding: 20px 30px;
	box-shadow: 0 0 15px;
	font-size: 14px;
	font-weight: bold;
	width: 350px;
	margin: 20px 250px 0 35px;
	float: left;
	background-color: white;
	position: relative;
	border: 5px solid rgb(90, 158, 181);
	left: 50%;
	top: 50%;
	margin-left: -210px;
	margin-top: -255px;
}

.msgInput {
	width: 100%;
	height: 35px;
	margin-top: 5px;
	border: 1px solid #999;
	border-radius: 3px;
	padding: 5px;
}

#msgTextarea {
	width: 100%;
	height: 80px;
	margin-top: 5px;
	border-radius: 3px;
	border: 1px solid #999;
	padding: 5px;
	resize: none;
}

#msgDiv {
	opacity: 1.0;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	display: none;
}

#confirmationDialog{
	position:fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display:none;
}

#confirmationDialog form{
	border-radius: 2px;
	padding: 20px 30px;
	box-shadow: 0 0 15px;
	font-size: 14px;
	font-weight: bold;
	width: 350px;
	margin: 20px 250px 0 35px;
	float: left;
	background-color: white;
	position: relative;
	border: 5px solid rgb(90, 158, 181);
	left: 50%;
	top: 50%;
	margin-left: -210px;
	margin-top: 10x;
}

.img {
	float: right;
	margin-top: -35px;
	margin-right: -37px;
}

.divWithLineBreaks {
	white-space: pre-line;
}

/* -------------------------------------------------------------------- */
/* enquiries.jsp */
#enquiryList {
	width: 85%;
	margin: auto;
}

#enquiryList hr {
	margin-top: 30px;
}

#enquiryList table {
	width: 85%;
	margin: auto;
}

.declineButton{
	background-color: #ff4a4f;
}

.declineButton:hover{
	border-color: #ff4a4f;
	color: #ff4a4f;
}

.undoButton{
	margin-left: 20px;
}

/* -------------------------------------------------------------------- */
/* publicProfile.jsp */
#userDiv {
	width: 40%;
	margin: 0 auto;
	background-color: rgba(255,255,255,0.7);
	padding: 15px;
}

#userDiv img{
	max-height: 200px;
}

/* -------------------------------------------------------------------- */
/* visitors.jsp */
.rating {
  text-align: center;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  
}

.rating:hover > span {
	color: transparent;
}

.rating > span:hover ~ span {
	color: gray;
}

.rating:hover > span:before {
	content: "\2605";
	position: absolute;
	left: 0; 
	color: #030303;
	width: 1.1em;
}

.rating > span:hover ~ span:before {
	color: transparent;
}

/* -------------------------------------------------------------------- */
/* editAd.jsp */

.pictureThumbnail{
	width: 200px;
	border-style: dashed;
	border-color: #030303;
	border-width: 2px;
	text-align:center;
	float: left;
	margin-right: 10px;
}

.pictureThumbnail div{
	width: 100%;
}

.pictureThumbnail img{
	height: 130px;
	margin-top: 10px;
}

.pictureThumbnail button{
	margin: 10px 0;
}

/*----------------------*/
/* ad.jsp */
.adDates {
    margin-top: 10px;
}
.adDates p {
    margin: 0;
}
.resultAd .resultRight h2 {
    margin-bottom: 4px;
}
.resultAd {
    position: relative;
}

/* Putting those info boxes partly on top of the image probably isn't the best idea...
...the good thing is that it can easily be changed if someone has an idea. */
.resultAd .info {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 30px;
    background-color: rgba(0,0,0,0.7);
    border-radius: 7px 0 0 7px;
}
.resultAd .info span {
    transform: rotate(-90deg);
    display: block;
    color: white;
    font-weight: bold;
    font-size: 19px;
    position: absolute;
    left: -26px;
    top: 46px;
}
.resultAd.inactive .info.expired {
    display: block;
}
.resultAd.inactive .info.expired span {
    left: -20px;
}
.resultAd.premium .info.premium {
    display: block;
    background-color: rgba(10,75,131,0.7);
}
#map {
    padding: 0 !important;
}

#map .mapInfo, #mapHome .mapInfo {
    width: 300px;
}
#map .mapInfo img , #mapHome .mapInfo img {
    margin-right: 10px;
    float: left;
    height: 100px;
}
#mapHome {
    float: right;
    border: 3px solid black;
    width: 37%;
    height: 300px;
    margin-top: 54px;
    border-radius: 10px;
}